
<div class="shadow_box">

    <div class="row">
        <nav class="navbar">
            <div class="nav_left logo">
                <p class="logo_text">
                    <i>zomato</i>
                </p>
            </div>
            <div class="nav_right">
               <p>
                    <a routerLink="/auth" (click)="toggleLogin()">
                        {{ UserActive ? 'Logout' : 'Login'}}
                     </a>
                </p>
            </div>
            <div class="nav_right">
                <p class="bg-hover">Create an account</p>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="subheader">
            <div class="nav_left">
                <img src="../../assets/flaticons/phone.svg" alt="get app" class="icon_img">
                <p class="float_right">Get The App</p>
            </div>
            <div class="nav_right">
                <img src="../../assets/flaticons/zomato.svg" alt="get app" class="icon_img">
                <p class="float_right">Zomato Pro</p>
            </div>
            <div class="nav_right">
                <img src="../../assets/flaticons/table.svg" alt="get app" class="icon_img">
                <p class="float_right" routerLink="/booktable">Book A Table</p>
            </div>
            <div class="nav_right">
                <img src="../../assets/flaticons/cart.svg" alt="get app" class="icon_img">
                <p class="float_right" routerLink="/orderfood">Order Food</p>
            </div>
        </div>
    </div>
    
</div>