<div class="row">
    <div class="col-6">
        <form #loginForm= "ngForm" (ngSubmit)="onSubmit()">
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text"
                id="email"
                class="form-control"
                ngModel
                name="email"
                >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                id="password"
                class="form-control"
                ngModel
                name="password"
                >
            </div>

            <div *ngIf="error" class="form-group error_msg">Wrong Credentials!!</div>

            <div class="form-group">
                <button type="submit" class="btn-login">login</button>
            </div>
        </form>
    </div>
</div>