<div class="row filter_box">
    <form>
        <div class="form-group">
           <p class="title">Quick Filters</p>
            <input type="checkbox" id="promotions" name="promotions" value="1">
            <label for="promotions"> Promotions </label><br>
            <input type="checkbox" id="pure_veg" name="pure_veg" value="2">
            <label for="pure_veg"> Pure Veg </label><br>
            <input type="checkbox" id="online_payments" name="online_payments" value="3">
            <label for="online_payments"> Online Payments</label><br><br>
        </div>
        <div class="form-group">
            <p class="filter_title">Sort by</p>
            <ul>
                <li class="filter_2"><b>Popularity</b>- high to low</li>
                <li class="filter_2"><b>Delivery Rating</b>- high to low</li>
                <li class="filter_2"><b>Rating</b>- high to low</li>
                <li class="filter_2"><b>Recently Added</b>- high to low</li>
            </ul>
        </div>
        <div class="form-group">
            
        </div>
        <div class="form-group">
            <p class="cuisine_filter"> Cuisine Filters</p>
            <ul>
                <li class="filter_3">Chinese</li>
                <li class="filter_3">North Indian</li>
                <li class="filter_3">Fast Food</li>
                <li class="filter_3">Biriyani</li>
                <li class="filter_3">Beverages</li>
                <li class="filter_3">Mughalai</li>
                <li class="filter_3">Rolls</li>
                <li class="filter_3">Bengali</li>
                <li class="filter_3">Desserts</li>
                <li class="filter_3">Street Food</li>
            </ul>
        </div>
    </form>
</div>
