
.col-1-of-2 {
    width: calc((100% - 10px)/2);
    float:left;
    margin-top: 2rem;
}

.col-1-of-2:nth-child(odd){
    margin-right:10px;
}

.card{
    border:1px solid rgb(233, 233, 233);
    border-radius: 3px;
    background:white;
    position: relative;
    height: 200px;
}

.card_content {
    padding:1rem;
}
.card_img{
    height: 100px;
    width:70px;
    border-radius: 10px;
}

.card_footer{
    position: absolute;
    top:170px;
    height:30px;
    width:100%;
    border:1px solid rgb(199, 199, 199);
}

.float_left{
    float:left;
}

.float_right{
    float:right; 
}
.custom_text{
    padding:.25rem 2rem;
    height:28px;
    color:green;
    border-left:1px solid rgb(199, 199, 199);
    font-size:.9rem;
    background: rgb(208, 253, 208);
}
.custom_text:hover {
    background: green;
    color:white;
    transition: all .5s;
    cursor: pointer;
}
.card_details{
    margin:0 2rem;
}
.restaurant_name{
    font-size: 1.5rem;
    width:100%;
    color:rgb(133, 0, 0);
    font-weight:700;
}
.food_details{
    color: gray;
    font-size:.9rem;
}
.payment{
    font-size:.9rem;  
}
.padding_5{
    padding-top:0rem;
}