/* You can add global styles to this file, and also import other style files */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background:whitesmoke;
}
.row{
    width:100%;
    clear: both;
}
.nav_left{
    padding: 0 1rem;
    float:left;
}
.nav_right{
    padding: 0 1rem;
    float:right;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
