<div class="row">
    <div class="search_container">
        <form #SearchForm="ngForm" (keydown)="loadRestaurants($event)">
            <div class="form-group">
                <label for="location">Searching in...</label>
                <input type="text"
                id="location"
                class="form-control"
                name="place"
                ngModel
                >
            </div>
            <div class="form-group">
                <label for="restaurant">Searching for...</label>
                <input type="text"
                id="restaurant"
                class="form-control input_long"
                name="food"
                ngModel
                >
            </div>
        </form>
    </div>
</div>
